* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  padding: 0%;
  margin: 0%;
  background-color: white;
}
.top-content {
  background-color: rgb(36, 36, 139);
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content{
  font-size:12px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-logo{
  height: 8rem;
  width: 6rem;
}
.navbar-nav {
  font-size: 15px;
  margin-top: 2rem;
  padding: 0%;
}
.navbar-nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  list-style-type:none ;
}
.nav-link {
  color: black;
  text-decoration: none;
  padding: 1rem;
}
.navbar-item{
  position: relative;
  padding: 0%;
  margin-top: 2rem;
  margin-left: 2rem;
}
.search-bar-logo {
  position: absolute;
  height: 2rem;
  width: 2rem;
  bottom: 5px;
  left: 13rem;
  list-style: none;
}
.input-search {
  border-radius: 3rem;
  border-color: rgb(224, 221, 221);
  height: 2.5rem;
  width: 16rem;
  padding-left: 1rem;
}
.navbar-item3{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-right: 1rem;
}
.nav-item-logo{
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}
.button-link {
  background-color: rgb(75, 174, 245);
  padding: 8px;
  color: white;
  text-align: center;
  display: inline block;
  text-decoration: none;
  width: 12rem;
}
.header-component {
  height: 40rem;
  display: grid;
  grid-template-rows: 48% 48%;
}
.header-top-component {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  height: 105%;
}
.header-bottom-component {
  display: flex;
  margin: 2rem;
  flex-direction: row;
  column-gap: 1rem;
  height: 150%;
}
.header-bottom-left-component {
  background-color: #eee;
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header-bottom-right-component {
  background-color: #eee;
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/*value card styling*/
.value-card {
  display: flex;
  flex-direction: row;
  padding: 3rem;
}
.inside-value-card {
  width: 33.3%;
  flex-direction: column;
  display: flex;
  padding: 2rem;
  row-gap: 1rem;
  align-items: center;
}
.link-component {
  color: rgb(0, 166, 255);
}
/*solution components*/
.solution-component {
  background-color: #eee;
  padding: 3rem;
}
.inside-solution-component {
  padding: 4rem;
  column-gap: 1rem;
  display: flex;
  row-gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.solution-component-alignment {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/*innovation heading*/
.innovation-components {
  padding: 3rem;
  margin-left: 5rem;
}
.slides-content{
  font-size: 1.5rem;
  padding: 1rem;
}
/* Slideshow container  with carousel*/
.slideshow-container {
  position: relative;
  margin-right: 2rem;
  margin-top: 1rem;
  width: 100%;
  max-width: 1500px;
  height: 35rem;
  display: flex;
}
.slideshow-container .mySlides,
.slideshow-container .mySlides-hidden{
  margin: 6px;
  background-color: #eee;
  display: none;
}
.slideshow-container .mySlides img{
  margin-left:8rem;
  margin-top: 4rem;
  width: 30%;
  height: 50%;
}
.slideshow-container .mySlides-visible{
  display: block !important;
}
.slideshow-container .slideshow-actions{
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slideshow-container .slideshow-actions button{
  border-radius: 50%;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width:2rem;
  height: 2rem;
  background-color:rgb(193, 191, 191);
}
.slideshow-container .slideshow-actions button#btn-prev{
  margin-left: 1rem;
}
.slideshow-container .slideshow-actions button#btn-next{
  margin-right: 1rem;
}
/*news components styling*/
.news-section{
  display: flex;
  flex-direction: row;
  height: 22rem;
  justify-content: space-evenly;
  margin-left: 3rem;
}
.news-component{
  margin-left:5rem;
  padding: 3rem;
}
.img{
  width: 17rem;
  height: 17rem;
}
/*enquiry section*/
.enquiry-component {
  padding: 2rem;
  height: 14rem;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/*footer styling*/
footer {
  background-color: rgba(132, 132, 132, 0.609);
  padding: 50px 80px;
}
.info {
  color: white;
  display: flex;
  margin: 20px;
  justify-content: space-between;
}
.info h4 {
  margin: 0;
}
.foot-img img {
  width: 25px;
  height: 25px;
}
.foot-img {
  float: right;
  display: flex;
  justify-content: space-between;
  width: 15%;
  align-items: flex-end;
}
footer hr {
  margin-left: 19.5%;
  color: white;
  border: 1px solid white;
}
/*media query*/
@media only screen and (max-width:1220px){
  .navbar-logo{
    height: 7rem;
    width: 7rem;
    padding: 0rem;
  }
  .navbar{
    flex-direction: column;
    justify-content: center;
  }
  .navbar-item3{
    width: 100%;

  }
  .navbar-nav {
    padding: 0rem;
    margin-left: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media only screen  and (max-width:930px){
  .innovation-components {
    padding: 1rem;
    margin: 1rem;
  }
  .news-component{
    margin-left: 2rem;
  }
  .news-section{
    display: flex;
    flex-direction: column;
    height: 28%;
  }
  .img{
    width: 200px;
    height: 200px;
  }
}
@media only screen and (max-width:720px){
  .innovation-components {
    padding: 1rem;
    margin: 1rem;
  }
  .content{
    font-size: 10px;
  }
  .button-link{
    width: 7rem;
  }
  .header-top-component{
    font-size: 9px;
  }
  .header-bottom-left-component{
    font-size: 10px;
  }
  .header-bottom-right-component{
    font-size: 10px;
  }
  .slideshow-container .mySlides img{
    margin-left:3rem;
    width: 30%;
    height: 30%;
  }
  .slides-content{
    font-size: 20px;
  }
  .navbar{
    flex-direction: column;
  }
  .navbar-logo{
    margin: 0rem;
  }
  .navbar-nav{
    font-size: 10px;
  }
}
@media only screen and (max-width:530px){
  .navbar-nav {
    font-size: 10px;
    padding: 0%;
  }
  .navbar-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
  }
  .navbar-item3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .slideshow-container .mySlides img{
    margin-top: 4rem;
    margin-left:2rem;
    width: 30%;
    height: 30%;
  }
  .slides-content{
    font-size: 17px;
  }
  .inside-solution-component{
    display: flex;
    flex-direction: column;
  }
  .value-card {
    display: flex;
    flex-direction: column;
  }
  .inside-value-card {
    width: 100%;
  }
  .header-top-component {
    width: 100%;
  }
  .header-bottom-left-component {
    width: 50%;
  }
  .header-bottom-right-component{
    width: 50%;
  }
  .info{
    flex-direction: column;
    margin: 0 10px;
  }
footer{
    padding: 20px ;
}
footer hr{
    margin: 0;
}
footer p{
    margin: 0 !important;
}
.info div{
    margin: 10px 0;
    width: 100%;
}
.info img{
    margin: 10px 0;
}
}

